.card {
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    height: 121px;
    width: 102px;
    padding: 5px;
}

.card-value {
    width: 16px;
    text-align: center;
    float: left;
}
#suitImg {
    height: 20px;
    width: 16px;
    float: left;
}