
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Store</ion-title>
    <ion-segment [(ngModel)]="storeSegment">
      <ion-segment-button value="store">
        Store
      </ion-segment-button>
      <ion-segment-button value="owned">
        Owned
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-icon name="cash" item-left></ion-icon>
      Cash
      <ion-note id="playerCash" item-right>${{ player?.money }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Filter</ion-label>
      <ion-select [(ngModel)]="storeFilter">
        <ion-option value="all">All</ion-option>
        <ion-option value="background">Background</ion-option>
        <ion-option value="cardFront">Card Fronts</ion-option>
        <ion-option value="cardBack">Card Backs</ion-option>
        <ion-option value="chips">Chips</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div [ngSwitch]="storeSegment">
    <div *ngSwitchCase="'store'">

      <div *ngIf="storeFilter === 'all' || storeFilter === 'background'">
        <div *ngFor="let background of backgrounds">
          <ion-card *ngIf="!background.owned">
            <img [src]="background.path" style="max-height: 200px;" />
            <ion-card-content>
              <ion-card-title>
                {{ background.title }}
                <ion-note>Background</ion-note>
              </ion-card-title>
              <p>
                {{ background.description }}
              </p>
            </ion-card-content>
            <ion-row>
              <ion-col center text-center>
                <span *ngIf="!background.owned">${{ background.price }}</span>
                <s *ngIf="background.owned">${{ background.price }}</s>
              </ion-col>
              <ion-col>

              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small (click)="buyBackground(background)" [disabled]="background.owned">
              <ion-icon name="cash"></ion-icon>
              <div>Buy</div>
            </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>

      <div *ngIf="storeFilter === 'all' || storeFilter === 'cardFront'">
        <div *ngFor="let cardFront of cardFronts">
          <ion-card *ngIf="!cardFront.owned">
            <img [src]="cardFront.path" style="max-height: 200px;" />
            <ion-card-content>
              <ion-card-title>
                {{ cardFront.title }}
                <ion-note>Card Front</ion-note>
              </ion-card-title>
              <p>
                {{ cardFront.description }}
              </p>
            </ion-card-content>
            <ion-row>
              <ion-col center text-center>
                <span *ngIf="!cardFront.owned">${{ cardFront.price }}</span>
                <s *ngIf="cardFront.owned">${{ cardFront.price }}</s>
              </ion-col>
              <ion-col>

              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small (click)="buyCardFront(cardFront)" [disabled]="cardFront.owned">
              <ion-icon name="cash"></ion-icon>
              <div>Buy</div>
            </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>

      <div *ngIf="storeFilter === 'all' || storeFilter === 'cardBack'">
        <div *ngFor="let cardBack of cardBacks">
          <ion-card *ngIf="!cardBack.owned">
            <img [src]="cardBack.path" style="max-height: 200px;" />
            <ion-card-content>
              <ion-card-title>
                {{ cardBack.title }}
                <ion-note>Card Back</ion-note>
              </ion-card-title>
              <p>
                {{ cardBack.description }}
              </p>
            </ion-card-content>
            <ion-row>
              <ion-col center text-center>
                <span *ngIf="!cardBack.owned">${{ cardBack.price }}</span>
                <s *ngIf="cardBack.owned">${{ cardBack.price }}</s>
              </ion-col>
              <ion-col>

              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small (click)="buyCardBack(cardBack)" [disabled]="cardBack.owned">
              <ion-icon name="cash"></ion-icon>
              <div>Buy</div>
            </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>

      <div *ngIf="storeFilter === 'all' || storeFilter === 'chips'">
        <div *ngFor="let chip of chips">
          <ion-card *ngIf="!chip.owned">
            <img [src]="chip.path" style="max-height: 200px;" />
            <ion-card-content>
              <ion-card-title>
                {{ chip.title }}
                <ion-note>Chips</ion-note>
              </ion-card-title>
              <p>
                {{ chip.description }}
              </p>
            </ion-card-content>
            <ion-row>
              <ion-col center text-center>
                <span *ngIf="!chip.owned">${{ chip.price }}</span>
                <s *ngIf="chip.owned">${{ chip.price }}</s>
              </ion-col>
              <ion-col>

              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small (click)="buyChips(chip)" [disabled]="chip.owned">
              <ion-icon name="cash"></ion-icon>
              <div>Buy</div>
            </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>
    </div> <!-- END ngSwitchCase = 'store' -->

    <div *ngSwitchCase="'owned'">

      <div *ngIf="storeFilter === 'all' || storeFilter === 'background'">
        <div *ngFor="let background of backgrounds">
          <ion-card *ngIf="background.owned">
            <img [src]="background.path" style="max-height: 200px;" />
            <ion-card-content>
              <ion-card-title>
                {{ background.title }}
                <ion-note>Background</ion-note>
              </ion-card-title>
              <p>
                {{ background.description }}
              </p>
            </ion-card-content>
            <ion-row>
              <ion-col center text-center>
                <span *ngIf="!background.owned">${{ background.price }}</span>
                <s *ngIf="background.owned">${{ background.price }}</s>
              </ion-col>
              <ion-col>

              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small (click)="buyBackground(background)" [disabled]="background.owned">
              <ion-icon name="cash"></ion-icon>
              <div>Buy</div>
            </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>

      <div *ngIf="storeFilter === 'all' || storeFilter === 'cardFront'">
        <div *ngFor="let cardFront of cardFronts">
          <ion-card *ngIf="cardFront.owned">
            <img [src]="cardFront.path" style="max-height: 200px;" />
            <ion-card-content>
              <ion-card-title>
                {{ cardFront.title }}
                <ion-note>Card Front</ion-note>
              </ion-card-title>
              <p>
                {{ cardFront.description }}
              </p>
            </ion-card-content>
            <ion-row>
              <ion-col center text-center>
                <span *ngIf="!cardFront.owned">${{ cardFront.price }}</span>
                <s *ngIf="cardFront.owned">${{ cardFront.price }}</s>
              </ion-col>
              <ion-col>

              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small (click)="buyCardFront(cardFront)" [disabled]="cardFront.owned">
              <ion-icon name="cash"></ion-icon>
              <div>Buy</div>
            </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>

      <div *ngIf="storeFilter === 'all' || storeFilter === 'cardBack'">
        <div *ngFor="let cardBack of cardBacks">
          <ion-card *ngIf="cardBack.owned">
            <img [src]="cardBack.path" style="max-height: 200px;" />
            <ion-card-content>
              <ion-card-title>
                {{ cardBack.title }}
                <ion-note>Card Back</ion-note>
              </ion-card-title>
              <p>
                {{ cardBack.description }}
              </p>
            </ion-card-content>
            <ion-row>
              <ion-col center text-center>
                <span *ngIf="!cardBack.owned">${{ cardBack.price }}</span>
                <s *ngIf="cardBack.owned">${{ cardBack.price }}</s>
              </ion-col>
              <ion-col>

              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small (click)="buyCardBack(cardBack)" [disabled]="cardBack.owned">
              <ion-icon name="cash"></ion-icon>
              <div>Buy</div>
            </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>

      <div *ngIf="storeFilter === 'all' || storeFilter === 'chips'">
        <div *ngFor="let chip of chips">
          <ion-card *ngIf="chip.owned">
            <img [src]="chip.path" style="max-height: 200px;" />
            <ion-card-content>
              <ion-card-title>
                {{ chip.title }}
                <ion-note>Chips</ion-note>
              </ion-card-title>
              <p>
                {{ chip.description }}
              </p>
            </ion-card-content>
            <ion-row>
              <ion-col center text-center>
                <span *ngIf="!chip.owned">${{ chip.price }}</span>
                <s *ngIf="chip.owned">${{ chip.price }}</s>
              </ion-col>
              <ion-col>

              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small (click)="buyChips(chip)" [disabled]="chip.owned">
              <ion-icon name="cash"></ion-icon>
              <div>Buy</div>
            </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>
    </div> <!-- END ngSwitchCase = 'store' -->
  </div>

</ion-content>