<!--<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Black Jack</ion-title>
  </ion-navbar>
</ion-header>-->
  <ion-content class="home" padding>
    <ion-grid>

      <ion-row id="headerRow">
        <ion-col width-75>
          <div id="playersMoney">${{ players[1].money }}</div>
                <div *ngIf="playerMoneyChange.show" [ngClass]="{'winMoneyFade': playerMoneyChange.direction === 'up', 'loseMoneyFade': playerMoneyChange.direction === 'down'}">
                  <span *ngIf="playerMoneyChange.direction === 'up'">+</span>
                  <span *ngIf="playerMoneyChange.direction === 'down'">-</span>
                  ${{ playerMoneyChange.amount }}
                </div>
        </ion-col>
        <ion-col width-25>
          <button ion-button clear menuToggle style="float: right; color: white;">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row class="playerRow dealerRow" [ngClass]="{'newWinner': isWinner(players[0])}">
        <ion-col width-100>

          <ion-row id="dealerNameRow">
            <ion-col width-100 text-center>
              <div class="playerName">
                {{ players[0].name }}<span *ngIf="playerTurnIndex === 0 || players[0].turn || players[0].cardsTotal() == 21">: {{ players[0].cardsTotal() }}</span>
              </div>
            </ion-col>
          </ion-row>
          
          <ion-row id="dealerHandRow">
            <ion-col width-100 text-center>
              <div class="hand">
                  <div class="card"
                    [ngStyle]="{'transform': calcCardRotation(cardIndex, players[0].hand.length)}"
                    [ngClass]="{'bottomCard': cardIndex === 0 }"
                    *ngFor="let card of players[0].hand; let cardIndex = index;"
                    [@bottomRightFlyIn]="cardIndex > 1 ? 'yes':'no'">

                      <!--<card *ngIf="i === players.length || cardIndex != 0 || playerTurnIndex === 0 || players[0].turn || players[0].cardsTotal() == 21"
                        [suit]="card.suit" [value]="card.value"></card>-->
                      <div *ngIf="i === players.length || cardIndex != 0 || playerTurnIndex === i || players[0].turn || players[0].cardsTotal() == 21"
                        [ngStyle]="{
                          'background-image': 'url(assets/img/cardImages/' +card.suit.toLowerCase()+ '/' +card.value+ '.png)',
                          'height': '92px',
                          'width': '69px',
                          'margin-top': '-2px',
                          'margin-left': '-2px'
                          }">
                        </div> 

                      <div class="cardBack" *ngIf="cardIndex+1 != players[0].hand.length && !players[0].turn && players[0].cardsTotal() != 21"></div>
                  </div>
              </div>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>

      <ion-row class="potDeckRow" center>
        <ion-col text-center width-50>

          <ion-row>
            <ion-col width-50>
              <div [ngClass]="{'notBottomChip': i > 0 }" *ngFor="let chip of pot; let i = index">
                <img [ngClass]="{ 'bounce': chip === pot[pot.length-2] }" [src]="'assets/img/chips/' +chip.value+ 'chip.png'" *ngIf="chip.owner === players[1]" style="width: 30px; height: 30px;">
              </div>
            </ion-col>
            <ion-col width-50>
              <div style="color: #ffffff; float: left;">${{ potTotal/2 }}</div>
            </ion-col>
          </ion-row>

        </ion-col>
        <ion-col width-50>
          
          <div class="deck" style="display: inline-block; float: right;">

            <div>
              <div class="deckcardBack" *ngFor="let card of deck.cards; let i = index; let firstCard = first" [hidden]="i > 12"
                style="border: 1px solid #ffffff;" [ngClass]="{'deckFirstCard': firstCard}"></div>
            </div>
          
          </div>

        </ion-col>
      </ion-row>

      <ion-row class="playerRow userRow" bottom [ngClass]="{'newWinner': isWinner(players[1])}">
        <ion-col width-100>

          <ion-row id="betDealRow" *ngIf="roundOver">
            <ion-col width-66>
              <img class="chipBtn" src="assets/img/chips/100chip.png" style="width: 50px; height: 50px;" (click)="placeBet(100)">
              <img class="chipBtn" src="assets/img/chips/500chip.png" style="width: 50px; height: 50px;" (click)="placeBet(500)">
              <img class="chipBtn" src="assets/img/chips/1000chip.png" style="width: 50px; height: 50px;" (click)="placeBet(1000)">
            </ion-col>
            <ion-col width-33>
              <button class="dealBtn" ion-button block round color="primary" (click)="dealOutCards()" [disabled]="pot.length <= 0" >Deal</button>
            </ion-col>
          </ion-row>
          
          <ion-row id="userHandRow" *ngIf="!roundOver">
            <ion-col width-100 text-center>
              <div class="hand" [@growShrink]="playerTurnIndex === 1">
                  <div class="card"
                    [ngStyle]="{'transform': calcCardRotation(cardIndex, players[1].hand.length)}"
                    [ngClass]="{'bottomCard': cardIndex === 0 }"
                    *ngFor="let card of players[1].hand; let cardIndex = index;"
                    [@topRightFlyIn]="cardIndex > 1 ? 'yes':'no'">

                      <!--<card *ngIf="i === players.length || cardIndex != 0 || playerTurnIndex === 1 || players[1].turn || players[1].cardsTotal() == 21"
                        [suit]="card.suit" [value]="card.value"></card>-->
                      <div *ngIf="i === players.length || cardIndex != 0 || playerTurnIndex === i || players[1].turn || players[1].cardsTotal() == 21"
                        [ngStyle]="{
                          'background-image': 'url(assets/img/cardImages/' +card.suit.toLowerCase()+ '/' +card.value+ '.png)',
                          'height': '92px',
                          'width': '69px',
                          'margin-top': '-2px',
                          'margin-left': '-2px'
                          }">
                        </div> 

                      <div class="cardBack" *ngIf="cardIndex+1 != players[1].hand.length && !players[1].turn && players[1].cardsTotal() != 21"></div>
                  </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="!roundOver && playerTurnIndex === 1 || players[1].turn" style="margin-top: -26px;">
            <ion-col width-100 text-center>
              <div id="playerCardTotal"><span>{{ players[1].cardsTotal() }}</span></div>
            </ion-col>
          </ion-row>

          <ion-row id="hitStayRow" [@enterFromBottom] *ngIf="!roundOver && playerTurnIndex === 1">
            <ion-col width-50>
              <button class="stayBtn" ion-button block round color="danger" (click)="stay(players[1])">Stay</button>
            </ion-col>
            <ion-col width-5->
              <button class="hitBtn" ion-button block round color="primary" (click)="hit(players[1])" [disabled]="players[1].cardsTotal() === 21 ">Hit</button>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
  <!-- align to the bottom of the page -->
  <!--<div class="bottomPage">
      <div style="text-align: center">
        <p style="color: red">Bottom</p>
      </div>
  </div>-->
