
  <ion-content class="home" padding>
    <ion-grid>

      <ion-row class="playerRow dealerRow" [ngClass]="{'newWinner': isWinner(players[0])}">
        <ion-col width-100>

          <ion-row id="dealerNameRow">
            <ion-col width-100 text-center>
              <div class="playerName">
                ${{ players[1].money }} {{ players[0].name }}<span *ngIf="playerTurnIndex === 0 || players[0].turn || players[0].cardsTotal() == 21">: {{ players[0].cardsTotal() }}</span>
              </div>
            </ion-col>
          </ion-row>
          
          <ion-row id="dealerHandRow">
            <ion-col width-100 text-center>
              <div class="hand">
                  <div class="card"
                    [ngClass]="{'notTopCard': cardIndex+1 != players[0].hand.length}"
                    *ngFor="let card of players[0].hand; let cardIndex = index;"
                    [@bottomRightFlyIn]="cardIndex > 1 ? 'yes':'no'">

                      <card *ngIf="i === players.length || cardIndex != 0 || playerTurnIndex === 0 || players[0].turn || players[0].cardsTotal() == 21"
                        [suit]="card.suit" [value]="card.value"></card>

                      <div class="cardBack" *ngIf="cardIndex+1 != players[0].hand.length && !players[0].turn && players[0].cardsTotal() != 21"></div>
                  </div>
              </div>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>

      <ion-row class="potDeckRow" center>
        <ion-col width-50>
          
          <div class="chip" *ngFor="let chip of pot; let i = index">{{ chip.value }}</div>

        </ion-col>
        <ion-col width-50>
          
          <div class="deck" style="display: inline-block;float: right;">
              <div class="deckcardBack" *ngFor="let card of deck.cards; let i = index; let firstCard = first" style="border: 1px solid #ffffff;"
                [ngClass]="{'deckFirstCard': firstCard}"></div>
          </div>

        </ion-col>
      </ion-row>

      <ion-row class="playerRow userRow" bottom [ngClass]="{'newWinner': isWinner(players[1])}">
        <ion-col width-100>

          <ion-row id="userNameRow">
            <ion-col width-100 text-center>
              <div class="playerName">
                ${{ players[1].money }} {{ players[1].name }}<span *ngIf="playerTurnIndex === 1 || players[1].turn || players[1].cardsTotal() == 21">: {{ players[1].cardsTotal() }}</span>
              </div>
            </ion-col>
          </ion-row>

          <ion-row id="betDealRow" *ngIf="roundOver">
            <ion-col width-66>
              <img class="chipBtn" src="../assets/img/chips/100chip.png" style="width: 50px; height: 50px;" (click)="placeBet(100)">
              <img class="chipBtn" src="../assets/img/chips/500chip.png" style="width: 50px; height: 50px;" (click)="placeBet(500)">
              <img class="chipBtn" src="../assets/img/chips/1000chip.png" style="width: 50px; height: 50px;" (click)="placeBet(1000)">
            </ion-col>
            <ion-col width-33>
              <button class="dealBtn" ion-button block round color="primary" (click)="dealOutCards()" [disabled]="pot.length <= 0" >Deal</button>
            </ion-col>
          </ion-row>

          <!--<ion-row>
              <button class="dealBtn" ion-button block color="primary" (click)="dealOutCards()" *ngIf="roundOver" [disabled]="pot.length <= 0" >Deal</button>
          </ion-row>-->

          <ion-row id="userHandRow">
            <ion-col width-100 text-center>
              <div class="hand">
                  <div class="card"
                    [ngClass]="{'notTopCard': cardIndex+1 != players[1].hand.length}"
                    *ngFor="let card of players[1].hand; let cardIndex = index;"
                    [@topRightFlyIn]="cardIndex > 1 ? 'yes':'no'">

                      <card *ngIf="i === players.length || cardIndex != 0 || playerTurnIndex === 1 || players[1].turn || players[1].cardsTotal() == 21"
                        [suit]="card.suit" [value]="card.value"></card>

                      <div class="cardBack" *ngIf="cardIndex+1 != players[1].hand.length && !players[1].turn && players[1].cardsTotal() != 21"></div>
                  </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row id="hitStayRow" *ngIf="playerTurnIndex === 1 && players[1]?.type === 'Human'">
            <ion-col width-25 offset-25>
              <button class="stayBtn" ion-button block round color="danger" (click)="stay(players[1])">Stay</button>
            </ion-col>
            <ion-col width-25>
              <button class="hitBtn" ion-button block round color="primary" (click)="hit(players[1])" [disabled]="players[1].cardsTotal() === 21 ">Hit</button>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
  <!-- align to the bottom of the page -->
  <!--<div class="bottomPage">
      <div style="text-align: center">
        <p style="color: red">Bottom</p>
      </div>
  </div>-->
