game-page {
    ion-content {
        background: url('/assets/img/tableBackground.png');
        background-position: center center;
    }

    .winner {
        background-color: $bs-success;
        color: #fff;
        border-radius: 3px;
    }

    .playerName {
        font-size: large;
    }
    .card {
        background-color: #ffffff;
        color: #000;
        border: 1px solid #d3d3d3;
        border-radius: 6px;
        height: 100px;
        width: 69px;
        overflow: hidden;
        box-shadow: 0 6px 6px -3px rgba(0,0,0,.2), 0 10px 14px 1px rgba(0,0,0,.14), 0 4px 18px 3px rgba(0,0,0,.12);
    }
    .playerRow{
        color: #fff;
    }
    .hand, .hand>div {
        display: inline-block;
    }
    .notTopCard {
        width: 32px;
        margin-right: -5px;
        border-right-color: transparent;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .cardBack {
        background: url('/assets/img/cardBack.png');
        background-size: 102px 119px;
        height: 98px;
        width: 73px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .hitStayButtonGroup {
        margin-left: 10px;
        float: right;
    }
}
