<!--<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Black Jack</ion-title>
  </ion-navbar>
</ion-header>-->

  <ion-content class="home" padding>
    <!--<span class="menuBtn" style="color: white;">
      <button ion-button outline round menuToggle style="float: left;" color="light">
        <ion-icon name="menu"></ion-icon>
      </button>
    </span>-->
    <ion-grid>

      <ion-row class="playerRow" center *ngFor="let player of players; let i = index;" [ngClass]="{'newWinner': isWinner(player)}">
        <ion-col width-100>
          <ion-row>
            <ion-col width-100 text-center>
              <div class="playerName">
                {{ player.name }}<span *ngIf="playerTurnIndex === i || player.turn || player.cardsTotal() == 21">: {{ player.cardsTotal() }}</span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col width-100 text-center>
              <div class="hand">
                  <div class="card"
                    [ngClass]="{'notTopCard': cardIndex+1 != player.hand.length}"
                    *ngFor="let card of player.hand; let cardIndex = index;"
                    [@flyIn]="cardIndex > 1 ? 'yes':'no'">

                      <card *ngIf="i === players.length || cardIndex != 0 || playerTurnIndex === i || player.turn || player.cardsTotal() == 21"
                        [suit]="card.suit" [value]="card.value"></card>

                      <div class="cardBack" *ngIf="cardIndex+1 != player.hand.length && !player.turn && player.cardsTotal() != 21"></div>
                  </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="playerTurnIndex === i && player?.type === 'Human'">
            <ion-col width-25 offset-25>
              <button class="stayBtn" ion-button block color="danger" (click)="stay(player)">Stay</button>
            </ion-col>
            <ion-col width-25>
              <button class="hitBtn" ion-button block color="primary" (click)="hit(player)" [disabled]="player.cardsTotal() === 21 ">Hit</button>
            </ion-col>
          </ion-row>

          <!--<ion-row *ngIf="playerTurnIndex === i && player?.type === 'Human'">
            <ion-col>
              <ion-fab bottom left>
                <button ion-fab>Bet</button>
                <ion-fab-list side="top">
                  <button ion-fab color="warn">50</button>
                  <button ion-fab color="secondary">500</button>
                  <button ion-fab color="primary">1K</button>
                </ion-fab-list>
              </ion-fab>
            </ion-col>
          </ion-row>-->

        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>

<!-- align to the bottom of the page -->
  <!--<div class="bottomPage">
      <div style="text-align: center">
        <p style="color: red">Bottom</p>
      </div>
  </div>-->
